@import "~/styles/000-abstracts/__abstracts-dir";
.image {
  display: block;
  position: relative;
  padding-top: 100%;

  &.-has-box{
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
  }
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
  }
  .image-caption {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
      z-index: $level-background;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 1.6rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    .text {
      position: relative;
    }
  }
}
