@import "~/styles/000-abstracts/__abstracts-dir";
@import "~/styles/000-abstracts/mixins";
.leporello-graphic-real-item-wrap {
  box-shadow: $shadow-top-s;
  .leporello-graphic-real-item {
    padding: $m;
    background-color: $lightest;
    max-width: $vp-xlarge;
    &-image {
      margin: -$m 0 -$m $m;
    }
    &-further-info {
      max-height: auto;
      transition: all $tr-slow;
    }
    .-is-non-fading {
      z-index: $level-content;
    }
    /* Responsive Medium
  -------------------------------------------------------------------------- */
    @include grid-even-2-columns($vp-medium);
    @media only screen and (min-width: $vp-medium) {
      padding-top: $l;
      &-info {
        padding-right: $l;
      }
    }
    /* Responsive xLarge
  -------------------------------------------------------------------------- */
    @media only screen and (min-width: $vp-xlarge) {
      margin: 0 auto;
    }
  }
}
