@import "~/styles/000-abstracts/__abstracts-dir";
@import "~/styles/000-abstracts/mixins";
.leporello-graphic-real-item-wrap {
  box-shadow: $shadow-top-s;
  background-color: $lightest;
  .leporello-graphic-real-item {
    padding: $m;

    max-width: $vp-xlarge;
    &__image {
      margin: -$m;
      margin-bottom: $m;
    }
    &__further-info {
      max-height: auto;
      transition: all $tr-slow;
    }
    .-is-non-fading {
      z-index: $level-content;
    }
    /* Responsive Medium
  -------------------------------------------------------------------------- */
    @include grid-even-2-columns($vp-medium);
    @media only screen and (min-width: $vp-medium) {
      padding-top: $l;
      padding-bottom: $xl;
      &__info {
        padding-right: $l;
      }
    }
    /* Responsive xLarge
  -------------------------------------------------------------------------- */
    @media only screen and (min-width: $vp-xlarge) {
      //margin: 0 auto;
    }
  }
}
