@import "~/styles/000-abstracts/__abstracts-dir";
@import "~/styles/000-abstracts/mixins";

.leporello-graphic-details-item-wrap {
  background-color: $lighter;

  .leporello-graphic-details-item {
    max-width: $vp-xlarge;
    padding: $m;
    padding-bottom: $l;
    overflow: hidden;

    &-info {
      position: relative;
      //padding: $m;
      background-color: $lighter;

      .involved-persons-toggler {
        margin-left: 0.5rem;
      }

      .involved-persons-table {
        margin-bottom: 1rem;

        [data-field="name"] {
          white-space: nowrap;
        }
      }
    }

    &-image {
      //justify-self: middle;
      //width: 50%;
      width: 100vw;
      //height: 100vw;
      overflow: hidden;

      margin: -$m 0 -$m $m;
      //margin-bottom: $m;

      & img{
        width: 100vw;
        height: 50vw;
        object-position: center center;
        object-fit: cover;
      }
      .zoom-image {
        padding-top: inherit;
        width: 100%;
        height: 100%;
      }
    }

    .-is-non-fading {
      z-index: $level-content;
    }

    .further-infos {
      //position: absolute;
    }

    /* Responsive Medium
  -------------------------------------------------------------------------- */
    @include grid-even-2-columns($vp-medium);

    @media only screen and (min-width: $vp-large) {
      padding-top: $l;
      padding-bottom: $xl;

      &-info {
        padding: 0;

        .title,
        .subtitle {
          padding-right: $l;
        }
      }

      /*&-image {
        width: $tile-xs;
        height: auto;
        margin: 0;
      }

      &.-is-open {
        .leporello-graphic-details-item {
          &-image {
            width: 100%;
            height: 100%;
            min-height: 50vh;
          }
        }
      }*/
    }

    /* Responsive Large
    -------------------------------------------------------------------------- */
    @include grid-uneven-2-columns($vp-large);

    /* Responsive xLarge
  -------------------------------------------------------------------------- */
    @media only screen and (min-width: $vp-xlarge) {
      //margin: 0 auto;
    }
  }

  &.-is-open {
    .leporello-graphic-details-item {
      .further-infos {
        position: static;
      }
    }
  }
}
