
.leporello-graphic-details-item {
  $background-color: #dedede;

  padding: 2.5rem;
  background-color: $background-color;
  transition: max-height 0.3s;

  .-is-non-fading {
    z-index: 1;
  }

  &:not(.-details-is-open) {
    max-height: 400px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 200px;
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #dedede 100%);
    }

    .details-image {
      .zoom-image {
        padding-top: inherit;
        height: 325px;
      }
    }
  }

  .details-info {
    .title,
    .subtitle {
      font-size: 1.2rem;
    }

    .title {
      padding-bottom: 0rem;

      &:after {
        content: '';
        display: block;
        width: 1.5rem;
        height: 1px;
        background-color: #fff;
        margin-top: 0.5rem;
      }
    }

    .subtitle {
      font-weight: 500;
    }
  }
}
