@import "~/styles/000-abstracts/__abstracts-dir";
.leporello-artefact-related-works-item {
  padding: $l $m $l $m;
  background-color: $lightest;
  &-intro {
    margin-bottom: $l;
  }
  &-list {}

  &:not(.-related-works-is-open) {
    max-height: 510px;
    overflow: hidden;
  }
}
