@import "~/styles/000-abstracts/__abstracts-dir";
@import "~/styles/000-abstracts/mixins";
.leporello-artefact-related-works-item-wrap {
  border-top: solid $border-stroke-weight-s $light;
  background-color: $lighter;
  .leporello-artefact-related-works-item {
    padding: $l $m $l $m;
    &-intro {
      margin-bottom: $l;
    }
    &-list {}

    // Responsive Medium
    // --------------------------------------------------------------------------
    @include grid-uneven-2-columns($vp-large);

  }
}
