@import "~/styles/000-abstracts/__abstracts-dir";
@import "~/styles/000-abstracts/mixins";

.artefact-overview {

  padding-top: $m;
  display: grid;
  align-content: flex-start;
  gap: $s;

  @include grid-auto-columns($tile-s);

  &[data-active-view='card'] {
    @include grid-even-columns($vp-medium, 3);
    @include grid-even-columns($vp-large, 4);
    @include grid-even-columns($vp-xlarge, 5);
    @include grid-even-columns($vp-xxlarge, 6);

  }

  &[data-active-view='card-small'] {
    @include grid-even-columns($vp-medium, 4);
    @include grid-even-columns($vp-large, 6);
    @include grid-even-columns($vp-xlarge, 7);
    @include grid-even-columns($vp-xxlarge, 8);

    column-gap: $xxs !important;
    row-gap: $xxs !important;
  }

  &[data-active-view='list'] {
    // @include base-grid();
    padding: $xs;
    display: grid;
    @include grid-even-columns($vp-large, 2);

    column-gap: $xs !important;
    row-gap: $xs !important;
  }

  &-switcher {
    &-item-icon {
      cursor: pointer;

      &.is-active {
        opacity: 0.3;
      }
    }
  }

  /* Responsive Small
  -------------------------------------------------------------------------- */
  // @include base-grid();

}
