@import "~/styles/000-abstracts/__abstracts-dir";
.grouped-definition-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
  padding-bottom: $s;
  margin-bottom: $xs;
  border-bottom: solid $border-stroke-weight-s $light;
  &-term {
    width: 25%;
    font-weight: $fw-regular;;
    padding: $xxs 0;
    &::after {
      content: ":"
    }
  }
  &-definition {
    display: flex;
    margin: 0;
    padding: $xxs 0;
  }
  &-term+&-definition:not(:nth-child(2)),
  &-term:first-child+&-definition:nth-child(2) {
    width: 75%;
  }
}
