
// Colors
$body-background-color: #222;
$body-color: #b5b5b5;

// Typography

$family-sans-serif: "IBMPlexSans", "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
