
// Typography

$family-sans-serif: "IBMPlexSansLight", "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "IBMPlexMonoMedium", monospace;

$weight-normal: 300;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px;

// Miscellaneous

$radius: 0;


// Generic

$body-size: 18px;
$body-background-color: #222;
$body-color: #b5b5b5;


// Elements

// Card
$card-background-color: #0a0a0a;
$card-color: #b5b5b5;

// Title
$title-color: #dbdbdb;
$title-weight: 500;

$subtitle-color: #b5b5b5;

// Navbar
$navbar-background-color: #000;

$navbar-item-color: #fff;
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: #121212;

$navbar-tab-active-color: #fff;
$navbar-tab-active-background-color: transparent;
$navbar-tab-active-border-bottom-color: #fc0;
$navbar-tab-hover-border-bottom-color: #fc0;

$navbar-box-shadow-color: transparent;
