*{
  box-sizing: content-box;
}

body{
  font-family: $font-sans-serif;
  font-size: $bfs;
  color: $lighter;
}

a{
  color: $lighter;
  text-decoration: none;
}


/* Title & Subtitle
-----------------------------------------------------------------------------*/

.title, .subtitle{
  font-size: $m;
  margin-bottom: $l;
}

.title + .subtitle{
  margin-top: -$l + $xs;
}

.title{
  font-weight: 500;

  &:after{
    content: " ";
    display: block;
    width: $xl;
    margin-top: $xs;
    margin-bottom: $xs;
    border-top: solid $border-stroke-weight $accent;

  }
}




/* Text
-----------------------------------------------------------------------------*/

p, th, td, dd{
  font-weight: 100;
}

p, th, td {
  line-height: 140%;
}
