import React from 'react';
import { storiesOf } from '@storybook/react';

import '~/styles/main.scss';

import <% CamelCaseName %> from '.';


storiesOf('Components|<% FullCamelCasePath %>', module)
  .add('default', () => (
    <<% CamelCaseName %> />
  ));
