
.leporello-graphic-related-works-item {
  $background-color: #fff;

  padding: 2.5rem;
  background-color: $background-color;
  transition: max-height 0.3s;

  &:not(.-related-works-is-open) {
    max-height: 510px;
    overflow: hidden;
  }

  .intro {
    padding: 3rem 3rem 0 0;

    .description {
      font-size: 0.9rem;
    }
  }
}
