@import "~/styles/000-abstracts/__abstracts-dir";
.closer {
  $closer-background-color: $darkest;
  $closer-color: $accent;
  $closer-size: $l;
  $closer-font-size: $l;
  z-index: $level-section-nav;
  position: relative;
  width: $closer-size;
  height: $closer-size;
  font-size: $closer-font-size;
  border: 0;
  border-radius: 100%;
  background-color: $closer-background-color;
  cursor: pointer;
  transition: $tr-fast all;
  box-shadow: $shadow;
  color: $closer-color;
  text-align: center;
}
