@import "~/styles/000-abstracts/__abstracts-dir";
.artefact-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $darker;

  &__image {
    padding: 1px;
  }
  &__content {
    flex-grow: 1;
    padding: $s;
    color: $lighter;
    background-color: $dark;
    border-top: solid $border-stroke-weight-s $accent;
  }
  &__title{
    font-weight: $fw-semibold;
    margin-bottom: $xxs;
    line-height: $lh-headlines;
    color: $lightest;
  }
  &__subtitle{
    font-weight: $fw-regular;
    margin-bottom: $xxs;
    line-height: $lh-headlines;
    color: $light;
  }
  &__text {
    font-weight: $fw-light;
    line-height: $lh-normal;
    margin-bottom: $xs;
  }

}
