@import "~/styles/000-abstracts/__abstracts-dir";
@import "~/styles/000-abstracts/mixins";

.leporello-graphic-reprints-item-wrap {

  border-top: solid $border-stroke-weight-s $light;

  .leporello-graphic-reprints-item {
    padding: $l $m $l $m;
    background-color: $lightest;

    // Responsive Medium
    // --------------------------------------------------------------------------
    @include grid-uneven-2-columns($vp-large);

  }
}
