@import "~/styles/000-abstracts/__abstracts-dir";
.toggler {
  $toggler-background-color: $accent;
  $toggler-color: $darkest;
  $toggler-size: $l;
  $toggler-chevron-line-width: $toggler-size / 10;
  $toggler-chevron-size: 30%;
  z-index: $level-section-nav;
  position: relative;
  width: $toggler-size;
  height: $toggler-size;
  border: 0;
  border-radius: 100%;
  background-color: $toggler-background-color;
  cursor: pointer;
  transition: $tr-fast all;
  box-shadow: $shadow;
  display: inline-block;

  /* Sizes */
  &.-small {
    $toggler-small-size: $s;
    $toggler-small-chevron-line-width: $toggler-small-size / 10;

    width: $toggler-small-size;
    height: $toggler-small-size;

    & > .chevron-container {
      & > .chevron {
        border-width: $toggler-small-chevron-line-width;
      }
    }
  }

  & > .chevron-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .chevron {
      margin-top: -15%;
      width: $toggler-chevron-size;
      height: $toggler-chevron-size;
      border: $toggler-chevron-line-width solid $toggler-color;
      border-right: 0;
      border-top: 0;
      transition: all $tr-fast;
      transform: rotate(-45deg);
    }
  }
  &.-is-toggled {
    background-color: $toggler-color;
    & > .chevron-container {
      & .chevron {
        margin-top: 0%;
        border-color: $toggler-background-color;
        transform: rotate(-45deg) scale(-1, -1);
      }
    }
  }
}
