@import "~/styles/000-abstracts/__abstracts-dir";

.toggler {
  $toggler-background-color: $accent;
  $toggler-color: $darkest;
  $toggler-size: $l;
  $toggler-chevron-size: 30%;

  z-index: 1000;
  position: relative;
  width: $toggler-size;
  height: $toggler-size;

  border: 0;
  border-radius: 100%;
  background-color: $toggler-background-color;

  cursor: pointer;
  transition: $tr-fast all;

  box-shadow: $shadow;

  &:after {
    content: ' ';
    width: $toggler-chevron-size;
    height: $toggler-chevron-size;
    border: 3px solid $toggler-color;
    border-right: 0;
    border-top: 0;
    transition: all $tr-fast;
    transform: rotate(-45deg);
    position: absolute;
    left: 33%;
    top: 23%;
  }

  &.-is-toggled {
    background-color: $toggler-color;

    &:after {
      top: 40%;
      left: 31%;
      border-color: $toggler-background-color;
      transform: rotate(-45deg) scale(-1, -1);
    }
  }
}
