
.graphic-card {
  height: 100%;

  .card-image {
    display: block;
    position: relative;
  }

  .card-content {
    .content-title {
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .content-subtitle {

    }
  }
}
