@import "~/styles/000-abstracts/__abstracts-dir";

.graphics-list {
  &-item {
    margin-bottom: $m;

    &-image {

      &-holder{
        height: $tile-small;
        margin-bottom: $xxs;
        background-color:$lighter;
        border: solid $border-stroke-weight-s $light;
        border-left: 0;
        border-right: 0;

        img{
          height: 100%;
          width: 100%;
          object-fit: contain;
          object-position: 50% 50%;
         }
      }


       &-caption {
        color: $darkest;
      }
    }


  }
}
