@import "~/styles/000-abstracts/__abstracts-dir";
@import "~/styles/000-abstracts/mixins";

$maxItemsPerRow: 5;

.graphics-list {
  /* Responsive Medium
  -------------------------------------------------------------------------- */
  @include grid-even-2-columns($vp-large);
  @include grid-even-columns($vp-xlarge, 3);
  @include grid-even-columns($vp-xxlarge, 4);
  @include grid-even-columns($vp-3xlarge, 5);
  @include grid-even-columns($vp-4xlarge, 6);
  &-item__image {
    display: block;
    margin-bottom: $m;
  }
  @media only screen and (min-width: $vp-large) {
    .graphics-list-item:nth-child(n+3) {
    }
  }

  @include grid-even-columns($vp-xlarge, $maxItemsPerRow);
}
