@import "~/styles/000-abstracts/__abstracts-dir";
.main-navigation {
  position: sticky;
  top: 0;
  z-index: $level-overall-nav;
  display: flex;
  padding: $m;
  padding-bottom: 0;
  background-color: $darkest;

  .menu {
    &-item {
      display: none;
      a {
        display: block;
        padding: $s $m;
        color: $lighter;
        border-bottom: solid $border-stroke-weight transparent;
      }
    }
    &-item a.is-active {
      border-bottom: solid $border-stroke-weight $accent;
    }
  }

  .reverse-navigation{
    .material-icons + span{
      margin-left: -$xs;
    }
  }

  .lang-switcher {
    position: absolute;
    right: $m;
    bottom: 0;

    &-item {
      display: inline-block;
      margin: $s $xxs;
      margin-right: 0;
      justify-self: flex-end;
      a {
        display: block;
        color: $lighter;
        border-bottom: solid $border-stroke-weight transparent;
      }
    }

    .lang-switcher-item + .lang-switcher-item{
      padding-left: $xxs;
      border-left: solid $border-stroke-weight-s $accent;
    }

    &-item a.is-active {
      border-bottom: solid $border-stroke-weight $accent;
    }
  }
  @media only screen and (min-width: $vp-large) {
    .menu, .lang-switcher {
      display: flex;
      flex-direction: row;
    }
    .menu .menu-item, .lang-switcher .lang-switcher-item {
      align-items: flex-end;
      display: flex;
    }
  }
}
