@import "~/styles/000-abstracts/__abstracts-dir";

.main-navigation {
  display: flex;
  padding: $m;
  padding-bottom: 0;
  background-color: $darkest;

  .menu {


    .menu-item{

      a{
        display: block;
        padding: $s $m;
        border-bottom: solid $borderStrokeWeight transparent;
      }
    }

    .menu-item a.is-active {
      border-bottom: solid $borderStrokeWeight $accent;
    }
  }

  @media only screen and (min-width: $vp-large) {
    .menu {
      display: flex;
      flex-direction: row;

      .menu-item{
        align-items: flex-end;
        display: flex;
        a{
          display: block;
          padding: $s $m;
          border-bottom: solid $borderStrokeWeight transparent;
        }
      }

      .menu-item a.is-active {
        border-bottom: solid $borderStrokeWeight $accent;
      }
    }
  }
}
